h3.subtitle {
	font-size: larger;
	text-align: left;
}

button.toggle-btn {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 120px;
	background: #00ab96;
	color: white;
	border-radius: 2px;
}

div.benefit {
	padding-top: 30px;
	padding-bottom: 30px;
}